<% case @document.state %>
<% when :success %>
  $("#errors").hide();
  $("#document").html("<%= j image_tag user_document_path(user_id: @user, id: @document, format: :png), width: 300 %>");
  $("#pdf_button").html("<%= j button_to("View PDF", user_document_path(user_id: @user, id: @document, format: :pdf), method: :get) %>");
<% when :generating %>
  setTimeout(function(){jQuery.getScript(document.URL)}, 500);
<% when :error %>
  $("#document").html("<h1 id='heading'>Error!</h1>");
  $("#pdf_button").html("<li id='pdf_button'><%= j button_to('Error!', user_document_path(user_id: @user, id: @document), disabled: true) %>");
  $("#errors_placement").html("<div id='errors'><%=@document.warnings%></div>");
<% end %>
