[Unit]
Description=Sidekiq job queue for Scientia
After=syslog.target network.target
Wants=redis.service

[Service]
Type=simple
User=deployer
Group=users
ControlGroup=scientia
Environment="RAILS_ENV=production;PATH=$PATH:/home/deployer/.rbenv/bin"
WorkingDirectory=/home/deployer/scientia
PIDFile=/home/deployer/scientia/tmp/pids/sidekiq.pid
ExecStart=/home/deployer/scientia/bin/sidekiq -C /home/deployer/scientia/config/sidekiq.yml -e production

[Install]
WantedBy=multi-user.target
