[Unit]
Description=Unicorn web server for Scientia
After=syslog.target network.target
Wants=postgresql.service

[Service]
Type=forking
User=deployer
Group=users
ControlGroup=scientia
Environment="RAILS_ENV=production;PATH=$PATH:/home/deployer/.rbenv/bin"
PIDFile=/home/deployer/scientia/tmp/pids/unicorn.pid
ExecStart=/home/deployer/scientia/bin/unicorn_rails -c /home/deployer/scientia/config/unicorn.rb -D -E production

[Install]
WantedBy=multi-user.target
